.profile-in-post {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%
}

.profile-sub-icon {
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.bold {
    font-weight: 600;
}

#comment-content {
    background-color: #F0F2F5;
    /* height: 100%; */
    border-radius: 8px;
    padding: 2px
}
