#profile-container {
    min-height: calc(100vh - 56px);
    height: 100%;
    display: flex;
}

#profile-left {
    min-width: 60px;
    width: 60px;
    height: calc(100vh - 57px);
    border-right: 1px solid lightgrey;
    position: sticky;
    top: 56px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-left-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 20px;
}

#profile-left-spacer {
    background-color: red;
    border-bottom: 1px solid lightgrey;
    margin-top: 18px;
    width: 100%
}

.profile-left-icons:hover {
    box-shadow: 0 8px 16px rgb(0 0 0 / 30%);
}

#profile-left>div {
    align-self: center;

}

#profile-right {
    width: 100%;
    min-width: 1080px;
    overflow-y: auto;
    height: calc(100vh - 56px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

#profile-header-container {
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    height: 240px;

}

#profile-header {
    border-bottom: 1px solid lightgrey;
    height: 200px;
    width: 1200px;
    min-width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#profile-name {
    width: calc(100% - 560px);
    padding: 20px;
    font-size: 36px;
    font-weight: bold;
    /* background-color: lightgreen; */
}

#profile-body {
    min-height: calc(100vh - 357px);
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background-color: #F0F2F5;
}

#profile-body-right {
    height: 100%;
    min-width: 660px;
    width: 700px;
}


#profile-body-left {
    /* border: 1px solid red; */
    margin-top: 16px;
    padding: 8px;
    width: 484px;
}

.profile-body-left-content {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px lightgrey;
    padding: 12px;
}

#intro-title {
    font-size: 18px;
    font-weight: bold;
}
.intro-content {
    display: flex;
    margin: 16px;
}
.intro-info-title {
    font-size: 14px;
    font-weight: bold ;
    margin: 0 10px;
}
.intro-info-content {
    font-size: 12px;
}

#profile-friend-sample-top {
    display: flex;
    justify-content: space-between;
}

#profile-friend-sample-top-title {
    font-size: 18px;
    font-weight: bold;
}

#profile-friend-sample-count {
    margin: 6px 0 10px 0;
    color: grey;
    font-size: 17px;

}

#see-all-friends {
    color: #216FDB;
    font-size: 17px;
}
