#nav-bar {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    box-shadow: 0px 1px 2px lightgrey;
    z-index: 10000;
}

#nav-bar-right {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100px;
}

#tzengbook-icon-logged-in {
    width: 120px;
    height: 36px;
    margin: 10px;
}


#profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: transparent;
}
